.about {
  padding: 120px;

  &__block {
    display: flex;
    gap: 40px;
    width: 100%;
  }

  &__imageBlock {
    width: calc(50% - 20px);
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  &__description {
    width: calc(50% - 20px);
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    color: $txtColor;
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
  }

  &__h4 {
    font-size: 42px;
    font-weight: 800;
    color: $txtColor;
    margin: 0 0 20px 0;
    width: 100%;
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
    width: 100%;
  }

  &__h5 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0 0 30px;
    margin: 0 0 40px 0;
  }

  &__item {
    position: relative;

    &::before {
      position: absolute;
      left: -30px;
      top: 50%;
      content: '';
      width: 20px;
      height: 20px;
      background-color: $primaryColor;
      transform: translateY(-50%);
    }
  }

  &__button {
    max-width: 360px;
    height: 60px;
    background-color: $primaryColor;
    color: $txtColor;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    @include transition;

    &:hover {
      background-color: $txtColor;
      color: $txtColorLight;
    }
  }
}