.additionalBlock {
  background-image: url('../images/achievementsBg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;

  &__block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 768px) {
      width: 100%;
      align-items: center;
    }
  }

  &__span {
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
    color: $primaryColor;
    display: block;
    position: relative;

    &::before {
      position: absolute;
      left: -20px;
      top: -20px;
      content: '';
      width: 80px;
      height: 150px;
      background: $primaryColor;
      opacity: 0.1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__text {
    color: $txtColorLight;
    font-size: 18px;
    font-weight: 700;
  }

  &__h5 {
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin: 0;
    color: $txtColorLight;

    @media screen and (max-width: 768px) {
      font-size: 32px;
      margin: 0 0 20px 0;
    }
  }

  &__button {
    height: 60px;
    background-color: $primaryColor;
    color: $txtColor;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 245px;
    @include transition;

    &:hover {
      background-color: $txtColorLight;
      color: $txtColor;
    }
  }
}