.stickyBlock {
  background-color: $txtColor;
  color: $txtColorLight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 0 0 40px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.8s ease-in;
  z-index: 999;
  width: 100%;

  &__nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: $txtColorLight;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
  }

  &__link {
    color: $txtColorLight;
    
    &:hover {
      color: $primaryColor;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__separator {
    width: 2px;
    background-color: #fff;
    height: 20px;
  }

  &__button {
    height: 100%;
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      .stickyBlock__arrow {
        transform: translateX(10px);
      }
    }
  }

  &--animate {
    animation-name: scrollSticky;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    background-color: #fff;
    color: $txtColor;

    .stickyBlock__link {
      color: $txtColor;
    }

    .stickyBlock__list {
      display: none;
    }

    .stickyBlock__separator {
      display: none;
    }
  }

  &__arrow {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

@keyframes scrollSticky {
  0% {
    top: 0;
    transform: translateY(0);
    
  }

  50% {
    top: -80px;
    transform: translateY(-80px);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}